<section class = 'section is-large'>
    <div class = 'box'>
        <form class = 'control' method = 'POST'>
            <label class = 'label' for = 'username'>Nom d'utilisateur</label>
            <input name = 'username' class = 'input' type = 'text'>
            <label class = 'label' for = 'password'>Mot de passe</label>
            <input name = 'password' class = 'input' type = 'password'><br><br>
            <input class = 'input' type = 'submit' value = 'Valider'>
        </form>
    </div>
</section>